button {
  font-family: "微软雅黑", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgb(3 224 243 / 0.6);
  background: rgb(3 224 243 / 0.6);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
}

html {
  background: rgb(8 240 224 / 0.6);
h3 {
  color: #F00F5D